= form.inputs "#{locale.name} translation" do
  %ol
    = form.input :title
    = form.input :slug
    = form.input :browser_title
    = form.input :meta_keywords
    = form.input :meta_description, input_html: { rows: 3 }
    = form.semantic_fields_for :sections do |section_form|
      - if @page.section_names.include? section_form.object.name
        - @section_forms << section_form
        = section_form.input :name, as: :hidden, label: false
        = section_form.input :body, as: :ckeditor, label: "#{section_form.object.name.titleize} part", input_html: { toolbar: "Easy" }
      - else
        = ""
