= semantic_form_for [:admin, @page], html: { multipart: true } do |f|

  - @page.initialize_missing_translations

  .language-tabs
    %ul.language-selection
      %li= link_to I18n.locale, "#lang-#{I18n.locale}"
      - @page.translations.each do |translation|
        - unless translation.locale == I18n.locale
          %li= link_to translation.locale, "#lang-#{translation.locale}"

    %div{id: "lang-#{I18n.locale}"}
      = render partial: 'fields', locals: { locale: I18n.locale, f: f }

    = f.semantic_fields_for :translations do |tf|
      - unless tf.object.locale == I18n.locale
        = render partial: 'fields', locals: { locale: tf.object.locale, f: tf }

    = f.actions

:javascript
  $(function() {
        $( ".language-tabs" ).tabs();
    });
