- @page.sections.each do |section|
  - section.initialize_missing_translations
= form.inputs "#{locale.name} translation" do
  %ol
    = form.input :title
    = form.input :slug
    = form.input :browser_title, input_html: { class: 'link-url-hide' }
    = form.input :meta_keywords, input_html: { class: 'link-url-hide' }
    = form.input :meta_description, input_html: { rows: 3, class: 'link-url-hide' }
    = form.input :locale, :as => :hidden, :label => false
    -#- unless @page.new_record?
    - @section_forms.each do |section_form|
      %section{:name => section_form.object.name}
        = section_form.semantic_fields_for :translations do |section_form_translated|
          - if section_form_translated.object.locale.to_sym == locale.code
            - section = @page.layout.find_section(section_form.object.name)

            - if section.text?
              = section_form_translated.input :body, as: section.type, label: section.name.titleize, input_html: { toolbar: section.toolbar }
            - elsif section.image?
              = section_form_translated.inputs section.name.titleize, for: [:image, section_form_translated.object.image || ActiveadminSelleoCms::Image.new] do |image_form|
                = image_form.input :image_width, as: :hidden, value: section.width
                = image_form.input :image_height, as: :hidden, value: section.height
                = image_form.input :data, label: "File to upload", input_html: { multiple: false }
                - unless image_form.object.new_record?
                  %li{"data-asset-id" => image_form.object.id}
                    %label Image
                    = image_form.object.data_file_name
                    = link_to_function "Delete", "delete_asset(#{@page.id}, #{image_form.object.id})"

            = section_form_translated.input :locale, :as => :hidden, :label => false
            - if section.attachments?
              = section_form_translated.inputs section.name.titleize, for: [:attachments, ActiveadminSelleoCms::Attachment.new] do |attachment_form|
                = attachment_form.input :data, label: "File to upload", input_html: { multiple: false }
                %li Existing files
                - section_form_translated.object.attachments.each do |attachment|
                  %li{"data-asset-id" => attachment.id}
                    %label File
                    = attachment.data_file_name
                    = link_to_function "Delete", "delete_asset(#{@page.id}, #{attachment.id})"
          - else
            = ""

