- @page.sections.each do |section|
  - section.initialize_missing_translations
= form.inputs "#{locale.name} translation" do
  %ol
    = form.input :title
    = form.input :slug
    = form.input :browser_title, input_html: { class: 'link-url-hide' }
    = form.input :meta_keywords, input_html: { class: 'link-url-hide' }
    = form.input :meta_description, input_html: { rows: 3, class: 'link-url-hide' }
    = form.input :locale, :as => :hidden, :label => false
    - @section_forms.each do |section_form|
      = section_form.semantic_fields_for :translations do |section_form_translated|
        - if section_form_translated.object.locale.to_sym == locale.code
          = section_form_translated.input :body, as: :ckeditor, label: "#{section_form.object.name.titleize} part", input_html: { toolbar: "Easy" }
          = section_form_translated.input :locale, :as => :hidden, :label => false
        - else
          = ""
