- @page.sections.each do |section|
  - section.initialize_missing_translations
= form.inputs "#{locale.name} translation" do
  %ol
    = form.input :title
    = form.input :slug
    = form.input :browser_title, input_html: { class: 'link-url-hide' }
    = form.input :meta_keywords, input_html: { class: 'link-url-hide' }
    = form.input :meta_description, input_html: { rows: 3, class: 'link-url-hide' }
    = form.input :locale, :as => :hidden, :label => false
    - @section_forms.each do |section_form|
      = section_form.semantic_fields_for :translations do |section_form_translated|
        - if section_form_translated.object.locale.to_sym == locale.code
          - section = @page.layout.find_section(section_form.object.name)
          = section_form_translated.input :body, as: section.type, label: "#{section_form.object.name.titleize} part", input_html: { toolbar: section.toolbar }
          = section_form_translated.input :locale, :as => :hidden, :label => false
          - if !@page.new_record? and section.attachments
            = section_form_translated.inputs "Attachments", for: [:attachments, ActiveadminSelleoCms::Attachment.new] do |attachment_form|
              = attachment_form.input :data, label: "Attachment", input_html: { multiple: false }
              - section_form_translated.object.attachments.each do |attachment|
                %li{"data-asset-id" => attachment.id}
                  %label File
                  = attachment.data_file_name
                  = link_to_function "Delete", "delete_asset(#{@page.id}, #{attachment.id})"
        - else
          = ""

