= semantic_form_for [:admin, @section], url: (@section.new_record? ? admin_sections_path : admin_section_path(@section.id)), html: { multipart: true } do |form|

  = form.input :name, as: :hidden, label: false
  - @section.new_record? ? @section.initialize_missing_translations : @section.create_missing_translations
  - current_locale = ActiveadminSelleoCms::Locale.find_by_code(I18n.locale)

  .language-tabs
    %ul.language-selection
      %li= link_to current_locale.name, "#lang-#{current_locale.code}"
      - @section.translations.each do |translation|
        - unless translation.locale == current_locale.code
          - if additional_locale = ActiveadminSelleoCms::Locale.enabled.find_by_code(translation.locale)
            %li= link_to additional_locale.name, "#lang-#{additional_locale.code}"
          - else
            = ""

    = form.semantic_fields_for :translations do |translated_form|
      - if additional_locale = ActiveadminSelleoCms::Locale.enabled.find_by_code(translated_form.object.locale)
        %div{id: "lang-#{additional_locale.code}", style: "#{'display:none;' if additional_locale.code == current_locale.code}"}
          = translated_form.inputs "#{additional_locale.name} translation" do
            %ol
              = translated_form.input :body, as: :ckeditor, input_html: { toolbar: @section.toolbar }
              = translated_form.input :locale, as: :hidden, label: false
      - else
        = ""

  = form.actions do
    = form.action :submit
    %li.cancel
      = link_to I18n.t('active_admin.cancel'), admin_pages_path


:javascript
  $(function() {
        $(".language-tabs").tabs();
    });
