<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <% @page.roots.each do |root| %>
    <%= link_to_page root %>
  <% end %>
</ul>

<h1>
  <section name='header'>
    <%= yield :header %>
  </section>
</h1>

<section name='content' data-type='ckeditor'>
  <%= yield :content %>
</section>

<hr/>

<section name='footer'>
  <%= yield :footer %>
</section>

</body>
</html>
